In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import os

In [7]:
df = pd.read_csv('Retail_Supermarket.csv')

In [8]:
df.shape

(2931, 20)

In [9]:
df.head(5)

,CustomerID,Profitiblity,Tenure,TakenFreeDelivery,CityTier,HighestSaving,PreferredPaymentMode,Gender,Age,FootfallInDiscountPeriod,TakenProdFromPromo,SatisfactionScore,MembershipCard,SavingPercent,Complain,AvgSaving,LastMonthCouponUsed,VisitInLastMonth,AvgNumberOfProduct,AvgBillAmount
0,900000002,48.6084,1.000000,1,1,24.30420,Debit Card,Male,50,0,1,3,Silver,2.272727,1,24.30420,0,0.169959,5.020586,1069.3848
1,900000003,490.2210,1.012853,1,3,245.11050,Debit Card,Male,80,0,0,5,Silver,2.000000,0,196.08840,0,2.693522,29.531386,9804.4200
2,900000007,146.0637,0.558714,1,1,102.24459,Credit Card,Male,34,1,1,2,Diamond,1.428571,1,43.81911,2,0.233329,3.110890,3067.3377
3,900000008,146.4147,0.872670,1,3,131.77323,E wallet,Male,34,0,1,3,Diamond,0.454545,1,14.64147,0,0.266693,13.534132,3221.1234
4,900000009,486.8790,2.484077,1,1,486.87900,Debit Card,Male,55,0,1,3,Silver,1.666667,0,194.75160,1,0.705622,15.600929,11685.0960

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2931 entries, 0 to 2930
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                2931 non-null   int64
 1   Profitiblity              2931 non-null   float64
 2   Tenure                    2931 non-null   float64
 3   TakenFreeDelivery         2931 non-null   int64
 4   CityTier                  2931 non-null   int64
 5   HighestSaving             2931 non-null   float64
 6   PreferredPaymentMode      2931 non-null   object
 7   Gender                    2931 non-null   object
 8   Age                       2931 non-null   int64
 9   FootfallInDiscountPeriod  2931 non-null   int64
 10  TakenProdFromPromo        2931 non-null   int64
 11  SatisfactionScore         2931 non-null   int64
 12  MembershipCard            2931 non-null   object
 13  SavingPercent             2931 non-null   float64
 14  Complain                  2931 non-null   int64
 15  AvgSaving                 2931 non-null   float64
 16  LastMonthCouponUsed       2931 non-null   int64
 17  VisitInLastMonth          2931 non-null   float64
 18  AvgNumberOfProduct        2931 non-null   float64
 19  AvgBillAmount             2931 non-null   float64
dtypes: float64(8), int64(9), object(3)
memory usage: 458.1+ KB

In [11]:
df.describe()

,CustomerID,Profitiblity,Tenure,TakenFreeDelivery,CityTier,HighestSaving,Age,FootfallInDiscountPeriod,TakenProdFromPromo,SatisfactionScore,SavingPercent,Complain,AvgSaving,LastMonthCouponUsed,VisitInLastMonth,AvgNumberOfProduct,AvgBillAmount
count,2.931000e+03,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000,2931.000000
mean,9.000023e+08,296.906171,1.577054,0.717844,1.645855,223.246265,48.937564,0.693279,0.359604,3.044012,1.824885,0.282156,88.690145,1.856704,1.374729,10.531042,5209.525233
std,1.307890e+03,176.198093,1.679226,0.450126,0.915248,145.669750,18.127041,0.461211,0.479966,1.370001,1.037868,0.450126,72.535060,2.082580,1.942729,9.243583,3480.256000
min,9.000000e+08,48.302700,0.500606,0.000000,1.000000,24.165300,18.000000,0.000000,0.000000,1.000000,0.400000,0.000000,4.864230,0.000000,0.070626,0.512874,486.705000
25%,9.000011e+08,161.111700,0.895592,0.000000,1.000000,112.460400,33.000000,0.000000,0.000000,2.000000,0.909091,0.000000,33.646140,1.000000,0.423919,4.256597,2522.947050
50%,9.000022e+08,288.972000,1.000000,1.000000,1.000000,202.936320,49.000000,1.000000,0.000000,3.000000,1.666667,0.000000,67.858980,1.000000,0.759234,8.017720,4669.635600
75%,9.000034e+08,409.329600,1.521789,1.000000,3.000000,303.215400,64.000000,1.000000,1.000000,4.000000,2.500000,1.000000,132.257070,2.000000,1.465585,13.536047,7107.393600
max,9.000045e+08,911.002500,22.317351,1.000000,3.000000,909.958500,80.000000,1.000000,1.000000,5.000000,5.000000,1.000000,455.501250,16.000000,22.987731,94.075525,22389.975000

In [ ]:
sns.histplot(data=df,x='')